.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculator {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  background-color: rgb(4, 109, 109);
  border-radius: 3px;
  padding: 5px;
}

.display {
  width: 100%;
  height: 30px;
  background-color: black;
  color: #09b0f8;
  text-align: right;
  grid-column: 1 / 6;
  border-radius: 3px;
  margin-bottom: 5px;
}

.key {
  background-color: #346072;
  border-color: black;
  color: #fff;
}

.key:hover,
.key:active {
  background-color: #4e9bba;
}
