*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: serif;
  background: linear-gradient(to right, #e3a6be, #b4e7ed);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}
h1 {
  font-size: 5rem;
}

.add-book {
  border: none;
  background-color: #5d9aea;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-family: inherit;
  border-radius: 2rem;
  color: #fff;

  transition: all, 0.3s;
  cursor: pointer;
}

.add-book:hover {
  background-color: #3887ee;
}

dialog {
  width: 45rem;
  height: 55rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: none;
  background-color: #eee;
  padding: 5rem;
}

h2 {
  text-align: center;
  font-size: 3.6rem;
  background: linear-gradient(to right, #3887ee, #e0548c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4rem;
}

input {
  display: block;
  border-radius: 20px;
  border: none;
  background-color: #f0dbe3;
  width: 100%;
  margin-bottom: 3rem;
  height: 4rem;
  color: #3887ee;
  font-size: 1.6rem;
  text-align: center;
}

label {
  display: block;
  font-size: 1.6rem;
  color: #e0548c;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.btn {
  border: none;

  padding: 1rem 4rem;
  font-size: 2.4rem;
  font-family: inherit;
  border-radius: 2rem;
  color: #fff;

  transition: all, 0.3s;
  cursor: pointer;
}

.btn-pink {
  background-color: #dd4e87;
}

.btn-pink:hover {
  background-color: #e872a1;
}

.btn-blue {
  background-color: #5d9aea;
}

.btn-blue:hover {
  background-color: #3887ee;
}

.form-btns {
  display: flex;
  justify-content: space-between;
}

.checkbox input {
  margin-bottom: 0;
  width: 5%;

  box-shadow: none;
}

.checkbox {
  margin-bottom: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

input:focus {
  outline: none;
  box-shadow: 0 5px 20px rgba(232, 114, 161, 0.514);
}

.checkbox input:focus {
  outline: none;
  box-shadow: none;
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 5rem 7rem;
}

.book-card {
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  border-radius: 5px;
  display: none;
}

.book-icon {
  width: 3rem;
  height: 3rem;
  fill: #3887ee;
  margin-bottom: 2rem;
}

.book-card div:not(:last-of-type) {
  margin-bottom: 3rem;
  border-bottom: 2px solid #e3a6be;
}

.card-text {
  font-size: 2.8rem;
  color: #4f95f0;
  margin-bottom: 1.5rem;
}

.card-info {
  font-size: 2.8rem;
  color: #ee78bf;
  font-weight: 600;

  margin-bottom: 1.5rem;
}
.card-btns {
  display: flex;
  justify-content: space-between;
}

.open {
  display: block;
}
